*.dylib
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.\#*
.*.swp
.DS_store
\#*\#

build*/
*.kdev4
SDL2.framework
SDL2_mixer.framework
SDL2_net.framework
.vscode
*.VC.db
vc2017/Debug/
.dir-locals.el
*.framework.version.txt
base/*.bak
base/system.cfg
base/doom/keys.csc
base/doom/Eternity.cfg
base/doom/tranmap.dat
base/doom/*.dsg
base/doom/*.bak
base/doom2/*.csc
base/doom2/*.cfg
base/doom2/*.dat
base/doom2/*.dsg
base/hacx/tranmap.dat
base/hacx/keys.csc
base/hacx/*.dsg
base/heretic/*.dat
base/heretic/*.dsg
base/heretic/Eternity.cfg
base/heretic/keys.csc
base/heretic/music
base/heretic/*.bak
base/plutonia/keys.csc
base/plutonia/tranmap.dat
base/plutonia/*.dsg
base/shots/*.bmp
base/shots/*.pcx
base/shots/*.png
base/shots/*.tga
base/tnt/*.csc
base/tnt/*.dat
base/tnt/*.dsg
user/*.cfg
user/*.txt
user/*/*.cfg
user/*/*.csc
user/*/*.dat
user/*/*.dsg
user/*/*.csv
user/*/music
user/shots/*.bmp
user/shots/*.pcx
user/shots/*.png
user/shots/*.tga
