Eternity.props
*.aps
*.db
*.lib
*.opendb
*.opensdf
*.sdf
*.suo
*.user
# Visual Studio 2017 options/cache directory
.vs/
# Build result folders
Win32/
x64/
# Command line arguments JSON file
Eternity.args.json
