body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background: #FFF url('<static path="/images/eternity.png"/>') fixed no-repeat top center;
}

.centered {
    text-align: center;
}

a.server_link {
    color: white;
}

a.server_link:hover {
    color: red;
}

label {
    white-space: nowrap;
    text-align: right;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

td.players_cell, td.game_type_cell, td.maps_cell {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-width: 0px;
    margin: 0px;
}

table td, table th {
    padding: 5px;
}

table#servers_table, div.jspPane {
    width: 642px;
    min-width: 642px;
    max-width: 642px;
}

table#servers_table {
    padding: 0px;
    border-collapse: collapse;
    margin-right: 4px;
    max-width: 500px;
}

table#servers_table th {
    border-bottom: 1px solid #505050;
}

table#servers_table td {
    border-width: 1px 0px 0px 0px;
    border-bottom: 1px solid #505050;
    overflow: hidden;
}

table#servers_table tr.highlighted {
    /* background-color: #404040; */
    background: rgba(255, 255, 255, .15);
}

div.shade {
    background: rgba(0, 0, 0, .8);
}

div#content {
    width: 100%;
    max-width: 985px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}

div#top_panel, div#main_panel {
    min-width: 985px;
    max-width: 985px;
    margin: 0px;
}

div#main_panel {
    margin-top: 4px;
}

div#header, div#account {
    display: inline-block;
}

h1#master_name, h1#section_label {
    font-size: 1em;
    padding: .25em;
    padding-top: .4em;
    padding-bottom: .4em;
    margin: 1px;
    width: auto;
}

h1#master_name {
    padding-left: .5em;
}

h1#section_label:hover {
    background: rgba(255, 255, 255, .15);
}

div#header {
    width: 835px;
    margin: 0px;
}

div#account {
    width: 9em;
    min-width: 9em;
    max-width: 9em;
    text-align: center;
}

div#main_window, div#sidebar {
    display: inline-block;
    margin: 0px;
    padding: 1em;
    font-size: .6em;
    font-weight: bold;
}

div.jspContainer {
    max-width: 662px;
    min-width: 662px;
}

div#main_window {
    min-height: 54em;
    max-height: 54em;
    min-width: 662px;
    max-width: 662px;
    /*
    min-width: 658px;
    max-width: 658px;
    */
    overflow: auto;
    padding-left: 4px;
    padding-right: 0px;
}

div#main_window a, div#main_window a:visited {
    color: white;
}

div#main_window a:hover {
    color: red;
}

div#sidebar {
    margin: 0;
    min-height: 52em;
    max-height: 52em;
    min-width: 298px;
    max-width: 298px;
    vertical-align: top;
}

h2#server_info_header, h2#server_pwads_header {
    word-wrap: break-word;
    text-align: center;
}

h2#server_pwads_header {
    margin-top: 40px;
}

ul#server_info_list {
    list-style-type: none;
    padding: 5px;
}

ul#server_info_list li {
    padding-top: 2px;
    padding-bottom: 3px;
}

ul#server_pwads_list {
    list-style-type: none;
    padding: 0px;
}

ul#server_pwads_list li {
    background: rgba(255, 255, 255, .15);
    margin: 0px;
    margin-top: 2px;
    padding: 3px;
    padding-left: 6px;
    border-left: 3px solid blue;
}

a.pwad_link, a.pwad_link:visited {
    color: white;
    font-weight: bold;
}

a.pwad_link:hover {
    color: red;
}

div#no_servers {
    text-align: center;
    max-width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21em;
    background: rgba(0, 0, 0, .4);
    border: 2px solid #505050;
    padding: 2em;
}

div.server_group {
    width: 100%;
    text-align: right;
    padding-top: .5em;
    padding-bottom: .5em;
    /*
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
    */
    border-right: 3px solid blue;
    background: rgba(255, 255, 255, .1);
    padding-right: 8px;
    margin-bottom: .5em;
}

div.delete_this_group {
    border-right: 3px solid red;
    /* background: rgba(255, 0, 0, .15); */
}

span.success, span.error {
    padding: .25em;
    padding-top: .3em;
    padding-bottom: .4em;
    padding-left: 3px;
    margin-top: .5em;
    margin-right: 1em;
    min-height: 1em;
    max-height: 1em;
    background: rgba(255, 255, 255, .1);
}

span.success {
    border-left: 3px solid green;
    /* background: rgba(0, 255, 0, .15); */
}

span.error {
    border-left: 3px solid red;
    /* background: rgba(255, 0, 0, .15); */
}

img.loading {
    display: none;
    margin: 0px;
    padding: 0;
    margin-right: 1em;
    /* padding-bottom: 3px; */
    vertical-align: middle;
    margin-bottom: 3px;
}

div#account_forms {
    text-align: right;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17em;
    background: rgba(0, 0, 0, .4);
    border: 2px solid #505050;
    padding: 2em;
}

input {
    margin-top: .5em;
    margin-bottom: .5em;
    background: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    background: rgba(255, 255, 255, 0);
    color: white;
    min-width: 40px;
    border: 1px solid white;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: auto;
    text-align: center;
}

div#account_form_switch {
    text-align: center;
}

span#switcher {
    text-decoration: underline;
}

span#switcher:hover {
    color: red;
}

td.lag_cell, td.packet_loss_cell, td.frags_cell, td.time_cell {
    text-align: center;
}

table#teams_table, table#players_table {
    margin-left: auto;
    margin-right: auto;
    width: 289px;
    min-width: 289px;
    max-width: 289px;
}

table#teams_table tr, table#players_table tr {
    border-bottom: 1px solid #282828;
}

table#teams_table tr.red_player_row {
    background: rgba(255, 0, 0, .15);
}

table#teams_table tr.blue_player_row {
    background: rgba(0, 0, 255, .15);
}

table#teams_table tr.green_player_row {
    background: rgba(0, 255, 0, .15);
}

table#teams_table tr.white_player_row {
    background: rgba(255, 255, 255, .15);
}

table#teams_table tr.black_player_row {
    background: rgba(0, 0, 0, .15);
}

table#teams_table tr.purple_player_row {
    background: rgba(255, 0, 255, .15);
}

table#teams_table tr.yellow_player_row {
    background: rgba(255, 255, 0, .15);
}

table tr.no_team_player_row {
    background: rgba(0, 0, 0, .4);
}

table tr.spectating_player_row {
    font-weight: normal;
    font-style: italic;
}

h3.account_heading {
    margin-top: .5em;
    margin-bottom: 1em;
}

