body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background: #FFF url('<static path="/images/eternity.png"/>') fixed no-repeat top center;
}

.centered {
    text-align: center;
}

a.server_link {
    color: white;
}

a.server_link:hover {
    color: red;
}

label {
    white-space: nowrap;
    text-align: right;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

td.players_cell, td.game_type_cell, td.maps_cell {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-width: 0px;
    margin: 0px;
}

table td, table th {
    padding: 5px;
}

table#servers_table, div.jspPane {
    width: 624px;
    min-width: 624px;
    max-width: 624px;
}

table#servers_table {
    padding: 0px;
    border-collapse: collapse;
    margin-right: 4px;
    max-width: 500px;
}

table#servers_table th {
    font-size: .8em;
    font-weight: bold;
    border-bottom: 2px solid #505050;
}

table#servers_table th:hover {
   cursor: pointer;
}

table#servers_table td {
    border-width: 1px 0px 0px 0px;
    border-bottom: 2px solid #505050;
    overflow: hidden;
}

table#servers_table tr.highlighted {
    background: rgba(255, 255, 255, .15);
}

div.shade {
    background: rgba(0, 0, 0, .8);
}

div#content {
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

div#top_panel, div#main_panel {
    min-width: 960px;
    max-width: 960px;
    width: 960px;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

div#main_panel {
    margin-top: 4px;
}

div#header, div#refresh, div#account {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

h1#master_name, .top_button {
    font-size: 1.25em;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1px;
    width: auto;
}

h1#master_name {
    padding-left: 6px;
}

.active_top_button:hover {
    background: rgba(255, 255, 255, .15);
}

div#header {
    min-width: 687px;
    max-width: 687px;
}

div#refresh {
    min-width: 120px;
    max-width: 120px;
    text-align: center;
}

div#account {
    width: 144px;
    min-width: 144px;
    max-width: 144px;
    text-align: center;
}

div#main_window, div#sidebar {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: .9em;
}

div.jspContainer {
    padding-left: 4px;
}

div#main_window {
    width: 633px;
    min-height: 670px;
    max-height: 670px;
    overflow: auto;
    vertical-align: top;
}

div#main_window a, div#main_window a:visited {
    color: white;
}

div#main_window a:hover {
    color: red;
}

div#sidebar {
    margin: 0px;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
    min-width: 298px;
    max-width: 298px;
    min-height: 670px;
    max-height: 670px;
    vertical-align: top;
}

h2#server_info_header, h2#server_pwads_header {
    word-wrap: break-word;
    text-align: center;
}

h2#server_pwads_header {
    margin-top: 40px;
}

ul#server_info_list {
    list-style-type: none;
    padding: 5px;
}

ul#server_info_list li {
    padding-top: 2px;
    padding-bottom: 3px;
}

ul#server_pwads_list {
    list-style-type: none;
    padding: 0px;
}

ul#server_pwads_list li {
    background: rgba(255, 255, 255, .15);
    margin: 0px;
    margin-top: 2px;
    padding: 3px;
    padding-left: 5px;
    border-left: 5px solid #0050DD;
}

a.pwad_link, a.pwad_link:visited {
    color: white;
}

a.pwad_link:hover {
    color: red;
}

div#no_servers {
    text-align: center;
    max-width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 252px;
    background: rgba(0, 0, 0, .4);
    border: 2px solid #505050;
    padding: 24px;
}

div.server_group {
    width: 100%;
    text-align: right;
    padding-top: 6px;
    padding-bottom: 6px;
    border-right: 5px solid #0050DD;
    background: rgba(255, 255, 255, .1);
    padding-right: 5px;
    margin-bottom: 5px;
}

div.delete_this_group {
    border-right: 5px solid #DD5050;
}

span.success, span.error {
    padding: 3px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 6px;
    margin-right: 12px;
    min-height: 12px;
    max-height: 12px;
    background: rgba(255, 255, 255, .1);
}

span.success {
    border-left: 5px solid green;
}

span.error {
    border-left: 5px solid #DD5050;
}

img.loading {
    display: none;
    margin: 0px;
    padding: 0;
    margin-right: 12px;
    vertical-align: middle;
    margin-bottom: 3px;
}

div#account_forms {
    text-align: right;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 204px;
    background: rgba(0, 0, 0, .4);
    border: 2px solid #505050;
    padding: 24px;
}

input {
    margin-top: 6px;
    margin-bottom: 6px;
    background: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    font-family: sans-serif;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    background: rgba(255, 255, 255, 0);
    color: white;
    min-width: 40px;
    border: 1px solid white;
    font-family: sans-serif;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 6px;
    margin-bottom: 12px;
    margin-left: auto;
    text-align: center;
}

div#account_form_switch {
    text-align: center;
}

span#switcher {
    text-decoration: underline;
}

span#switcher:hover {
    color: red;
}

td.lag_cell, td.packet_loss_cell, td.frags_cell, td.time_cell {
    text-align: center;
}

table#teams_table, table#players_table {
    margin-left: auto;
    margin-right: auto;
    width: 289px;
    min-width: 289px;
    max-width: 289px;
}

table#teams_table tr, table#players_table tr {
    border-bottom: 1px solid #282828;
}

table#teams_table tr.red_player_row {
    background: rgba(255, 0, 0, .15);
}

table#teams_table tr.blue_player_row {
    background: rgba(0, 0, 255, .15);
}

table#teams_table tr.green_player_row {
    background: rgba(0, 255, 0, .15);
}

table#teams_table tr.white_player_row {
    background: rgba(255, 255, 255, .15);
}

table#teams_table tr.black_player_row {
    background: rgba(0, 0, 0, .15);
}

table#teams_table tr.purple_player_row {
    background: rgba(255, 0, 255, .15);
}

table#teams_table tr.yellow_player_row {
    background: rgba(255, 255, 0, .15);
}

table tr.no_team_player_row {
    background: rgba(0, 0, 0, .4);
}

table tr.spectating_player_row {
    font-weight: normal;
    font-style: italic;
}

h3.account_heading {
    margin-top: 6px;
    margin-bottom: 12px;
}

