name: Eternity Build

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
        fetch-tags: true

    - name: Configure CMake
      run: |
        cmake -S . -B build64 -G "Visual Studio 17 2022" -A x64
        cmake -S . -B build32 -G "Visual Studio 17 2022" -A Win32

    - name: Build
      run: |
        cmake --build build64 --config Release
        cmake --build build32 --config Release

    - name: Add text files
      run: |
        Copy-Item COPYING build32/eternity/Release/COPYING.txt
        Copy-Item COPYING-EE build32/eternity/Release/COPYING-EE.txt
        Copy-Item docs/readme.txt "build32/eternity/Release/ee-$(git describe --tags).txt"

        Copy-Item COPYING build64/eternity/Release/COPYING.txt
        Copy-Item COPYING-EE build64/eternity/Release/COPYING-EE.txt
        Copy-Item docs/readme.txt "build64/eternity/Release/ee-$(git describe --tags).txt"

    - name: Archive release build
      uses: actions/upload-artifact@v4
      with:
        name: windows-release
        path: build??/eternity/Release

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true
      
      - name: Configure CMake
        run: |
          cmake -S . -B build-arm -G Xcode
          cmake -S . -B build-intel -G Xcode -DCMAKE_OSX_ARCHITECTURES=x86_64 -DPNG_INTEL_SSE=on
      
      - name: Build
        run: |
          cmake --build build-arm --config Release
          cmake --build build-intel --config Release

      - name: Add text files
        run: |
          cp COPYING build-arm/macosx/launcher/Release/COPYING.txt
          cp COPYING-EE build-arm/macosx/launcher/Release/COPYING-EE.txt
          cp docs/readme.txt "build-arm/macosx/launcher/Release/ee-$(git describe --tags).txt"

          cp COPYING build-intel/macosx/launcher/Release/COPYING.txt
          cp COPYING-EE build-intel/macosx/launcher/Release/COPYING-EE.txt
          cp docs/readme.txt "build-intel/macosx/launcher/Release/ee-$(git describe --tags).txt"

      - name: build DMG
        run: |
          hdiutil create -srcfolder build-arm/macosx/launcher/Release/ -volname "ee-$(git describe --tags)-applesilicon" -fs HFS+ -format UDZO ee-$(git describe --tags)-applesilicon.dmg

          hdiutil create -srcfolder build-intel/macosx/launcher/Release/ -volname "ee-$(git describe --tags)-intel" -fs HFS+ -format UDZO ee-$(git describe --tags)-intel.dmg

      - name: Archive ARM release build
        uses: actions/upload-artifact@v4
        with:
          name: macos-release
          path: "*.dmg"
